body {
    width: 100%;
    margin: 0;
    background-color: rgb(221, 221, 221);

}

.nav {
    width: 100%;
    background-color: rgb(0 88 114);
    text-align: center;
    padding-bottom: 5px;
}

h1 {
    margin: 0 auto;
    color:white;
    font-family: Tahoma;
}